@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import "tailwindcss";

:root {
  --primary-bg-color: #0B0E11; 
  --primary-text-color: #F3F7FE; 
  --body-font: Arial, sans-serif;
  --titles-font: 'quicksand', sans-serif;
}

body{
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Quicksand;
}