@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import "tailwindcss";

@import "tailwindcss";

body{
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Quicksand;
}
button
{
  cursor : pointer;
}